body {
    /* font-family: "Lato", sans-serif; */
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*label {*/
/*	margin: 0 0 2px 12px ;*/
/*	padding: 0 0 0 3px;*/

/*}*/
.name_report{
	width: 250px;
}

.row_name{
	width: 150px;
}

.row_code{
	width: 150px;
}


.form-style-4{
	/* width: 850px; */
	font-size: 16px;
	background: #495C70;
	padding: 20px 20px 5px 20px;
	border: 5px solid #53687E;
}

.form-style-4 input[type=submit],
.form-style-4 select,
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}

.form-style-4 label {
	display:inline-block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	/* width: 150px; */
}
.form-style-4 input[type=text]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	/* width: 275px; */
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	/* width: 275px; */
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus
{
	border-bottom: 1px dashed #D9FFA9;
	background: transparent;

}
.form-style-4 select,
.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;

}


.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

.div_select{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 25ch; */

}
.col_1{
	font-weight: bold;
	font-size: 15px;
}
.col_2{
	font-size: 14px;
}
.col_3{
	font-size: 12px;

}
.col_3 td{
	padding: 2px 2px 2px 12px;
}

.border-none{
    border: none;
    background-color: #f5f5f5
}

